.assessment_table{
    color:black;
}

.assessment_table tbody tr.selected{
    background-color: yellow;
}

.assessment_table tbody tr:hover{
    background-color: #eee;
}

.button-scroller-container{
    float: right !important;
    margin: 5px;
}

.button-scroller-container .button-scroller{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.assessment_table tbody td .btn i{
    color: white !important;
}

.assessment_table tbody tr.draft td{
    color: #AAAAAA;
}

.assessment_table tbody tr.draft td a{
    color: #AAAAAA !important;
}