.node-gd-page-assessment-form .description .list-group{
  padding-top: 5px;
  display: inline-table;
  list-style: none;
}

.node-gd-page-assessment-form .description .list-group-item{
  display: inline;
  border: none;
}