{% set url = current_uri %}
{{ attach_library( 'biopama_dashboards/biopama_dashboards_styles' ) }}
{{ attach_library( 'biopama_page_assessments/main' ) }}
{{ attach_library( 'biopama_dashboards/biopama_dashboards_maps_page' ) }}
{{ attach_library( 'biopama_dashboards/page_tools' ) }}

<header class="masthead text-left text-white">
	<div id="bkgd-linear" class="masthead-linear"></div>
	<div id="bkgd-img" class="masthead-img" style="display:none;"></div>
		<div class="masthead-content">
			<div class="row">

				<div class="col-lg-2 header-text">
					{% include 'page-assessments-menu.html.twig' %}
				</div>
				<div class="col-lg-10 header-table-cards">
					<div class="header-table-wrap">
						<h2 class="page-resources-header-title">
							Assessments
							<a href="/node/add/gd_page_assessment" class="use-ajax add-policy fancy_login_show_popup btn btn-primary assessment-table-tool-button" 
							data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" style="display: none;">
								<i class="fas fa-plus"></i> Add a PAGE assessment
							</a>
						</h2>
						<div id="data_source" class="text-left" style="margin: 12px 0;">
							<p>Data Source: 
								<b><a class="btn btn-light" target="_blank" onclick="window.scrollTo(0, document.body.scrollHeight); return false;">
									see Source field in table below map
								</a></b>
							</p>
						</div>
						{% include 'page-assessments-filter.html.twig' %}
					</div>
					{% include 'page-assessments-map.html.twig' %}
					{% include 'page-assessments-table.html.twig' %}
				</div>
			</div>
		</div>
		<div class="wave-corner">
			<img src="{{ image_path }}color_wave.png"/>
		</div>
</header>

<!-- <button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button> -->